body {
      margin: 0;
      font-family: "Segoe UI", Arial, sans-serif;
      background-color: #23528F;
      color: rgb(0, 0, 0);
    }

    header {
      background-image: url('https://github.com/MiguelMascarini/Laele-PJI/blob/main/static/css/praia.jpg?raw=true');
      background-size: cover;
      background-position: center;
      height: 300px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
    }

    header img {
      width: 140px;
      height: 140px;
      margin: 140px;

    }

    nav {
      background-color: #1b5593;
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 10px 0;
    }

    nav button {
      background-color: #74A1C5;
      color: rgb(0, 0, 0);
      border: none;
      padding: 15px 50px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 15px;
      transition: background 0.3s;
    }

    nav button:hover {
      background-color: #6ea8e3;
    }

    main {
      width: 60%;
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
