body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  
  
  header {
    position: relative;
    text-align: center;
    padding: 200px 0; /* aumenta o espaço vertical */
    
    /* adiciona a imagem de fundo */
    background-image: url('praia.png'); /* caminho do seu arquivo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* remove o fundo azul */
    background-color: transparent;
  
    animation: slide-down 1s ease-out;
  }
  
  
  header .logo {
    position: absolute;
    top: 250px;
    right: 10px;
    max-width: 100px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0056b3;
    padding: 10px;
  }
  
  .nav-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s, background-color 0.3s;
  }
  
  .nav-btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  #divBusca {
    display: flex;
    align-items: center;
  }
  
  #txtBusca {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #btnBusca {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
  }
  
  #btnBusca:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  .section {
    text-align: center;
    margin: 20px 0;
  }

.ranking-list {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1; /* Faz com que o ranking ocupe o espaço disponível */
    max-width: 45%; /* Limita a largura máxima */
  }
  
  .ranking-list h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .ranking-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .ranking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .ranking-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .ranking-item.highlight {
    background-color: #9fc8fd; /* Cor de fundo amarela para destaque */
    color: #000; 
    font-weight: bold; 
    border: 2px solid #c3e8f5; 
    border-radius: 5px; 
    padding: 10px; 
  }
  
  .ranking-position {
    font-size: 18px;
    font-weight: bold;
    color: #0056b3;
  }
  
  .ranking-name {
    font-size: 16px;
    color: #333;
    flex: 1;
    text-align: left;
    margin-left: 10px;
  }
  
  .ranking-score {
    font-size: 16px;
    font-weight: bold;
    color: #007BFF;
  }
  
  .info-box {
    background-color: #f4f4f9; 
    border: 2px solid #e7fbff; 
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 300px; 
  }
  
  .info-box p {
    font-size: 5rem; 
    font-weight: bold; 
    color: #0056b3; 
    margin: 0;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px;
    margin: 20px; 
  }

  .ranking-item1 {
    background-image: linear-gradient(45deg, #ffdc14, #b49411);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .ranking-item2 {
    background-image: linear-gradient(45deg, #c0c0c0, #d9d9d9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .ranking-item3 {
    background-image: linear-gradient(45deg, #cd7f32, #d4a373);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .ranking-item1:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .ranking-item2:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .ranking-item3:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }