body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  position: relative;
  text-align: center;
  padding: 200px 0; /* aumenta o espaço vertical */
  
  /* adiciona a imagem de fundo */
  background-image: url('praia.png'); /* caminho do seu arquivo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* remove o fundo azul */
  background-color: transparent;

  animation: slide-down 1s ease-out;
}

h1 {
  color: rgb(22, 106, 175);
  font-size: 5rem;
  font-weight: 900;
}

header .logo {
  position: absolute;
  top: 250px;
  right: 10px;
  max-width: 100px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0056b3;
  padding: 10px;
}

.nav-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s, background-color 0.3s;
}

.nav-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

#divBusca {
  display: flex;
  align-items: center;
}

#txtBusca {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#btnBusca {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

#btnBusca:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.section {
  text-align: center;
  margin: 20px 0;
}

.photo-upload {
  text-align: center;
  margin: 20px;
  flex: 1; /* Faz com que a seção de upload ocupe o espaço disponível */
  max-width: 45%; /* Limita a largura máxima */
}

.upload-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s, background-color 0.3s;
}

.upload-btn:hover {
  background-color: #218838;
  transform: scale(1.1);
}

.uploaded-image {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.file-name {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}